<div id="LoginForm">
  <div class="container">
    <h1 class="form-heading">Stock Form</h1>
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <p>Please enter Company Symbol</p>
        </div>
        <form id="Login">
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Enter Name">
          </div>
          <button (click)="onSubmitData($event)" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>